body {
    background-color: rgba(255, 255, 0, 0.827);
}

#nav {
    margin: 0px;
    padding: 0%;
    justify-content: center;
    grid-row: inherit;
    display: block;
}

#nav p {
    width: 100%;
}

#picture {
    display: none;
}

#pokemon {
    width: 100%;
    transform: rotate(0deg);
}

#pokemons {
    width: 100%;
    padding-top: 30px;
    justify-content: center;
    text-align: center;
    display: block;
}

#next {
    display: block;
    justify-content: center;
    text-align: center;
    scale: 100%;
}

#previous {
    display: block;
    justify-content: center;
    text-align: center;
    scale: 100%;
}

#big {
    justify-content: center;
    grid-row: inherit;
    display: grid;
    grid-template-columns: 20% 50% 20%;
}

#startstop {
    text-align: center;
    justify-content: center;
    grid-row: inherit;
    display: grid;
    grid-template-columns: 50% 50%;
}

#inne {
    padding: 20px;
    text-align: center;
    justify-content: center;
    grid-row: inherit;
    display: grid;
    grid-template-columns: 20% 20%;
}

.in {
    background-color: rgb(157, 3, 3);
    margin: 20px;
    border-radius: 30px;
    border: black solid;
}